/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .4px;
}

body a:hover {
  cursor: pointer;
}

.container-banner {
  width: 100%;
  height: 550px;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.banner {
  padding: 0.9rem 0.1rem;
  flex-grow: 1;
}

@media (min-width: 461px) {
  .banner {
    padding: 3rem 0.75rem;
  }
}

.banner-button {
  display: inline-block;
  margin: 31px 0px 18px;
}

.container-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
}

.netmatters-logo-white {
  margin: 26px 0px 16px;
  padding-left: 5vw;
}

.social-media {
  padding-left: 2vw;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}

.footer-information {
  padding-left: 5vw;
}

h6 {
  margin-bottom: 26px;
}

#follow {
  padding-left: 5vw;
}

#about {
  margin-top: 26px;
}

.footer-bottom {
  width: 100%;
  height: 82px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.container-newslettersu {
  padding: 50px 15px;
  display: flex;
  align-items: center;
}

h5 {
  padding-bottom: 15px;
}

.required {
  padding-bottom: 5px;
}

.form-wrapper {
  margin: 15px 0px;
  display: flex;
}

.form-wrapper label {
  display: flex;
}

.checkbox-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.news-subscribe {
  margin-top: 20px;
}

.container-clients {
  width: max-content;
  height: 170px;
  display: flex;
  overflow-x: auto;
}

.clients {
  margin: 1.5rem;
}

.os-container {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
}

.os-content-container {
  display: flex;
  width: 100%;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 30px;
}

.os-content-container a:hover {
  cursor: pointer;
}

.viewourwork {
  text-align: center;
  margin: 30px;
}

.container-partners {
  width: max-content;
  height: 170px;
  display: flex;
  overflow-x: auto;
}

.partners {
  margin: 1.5rem;
}

.container-welcometo {
  display: flex;
}

.welcometo {
  padding: 50px 15px;
}

h3 {
  margin-bottom: 40px;
}

.container-latestnews {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-news-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.card-image-container {
  display: flex;
}

.container-card-core {
  padding: 30px;
}

.container-card-footer {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
}

.card-logo {
  margin-right: 20px;
}

.read-more-article1 {
  margin: 20px 0px;
}

.read-more-article2 {
  margin: 20px 0px;
}

.read-more-article3 {
  margin: 20px 0px;
}

.viewall {
  width: 100%;
  text-align: center;
  margin: 30px 0px;
}

.nav-bar {
  display: none;
}

.header-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header-logo {
  padding: 5px;
}

.phone-icon {
  padding: 5px;
}

.Ham-icon {
  padding: 5px;
}

.header-row {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 40px;
  margin-bottom: 5px;
}

.search-container {
  display: inline-flex;
  justify-content: center;
}

.search-container input {
  width: 100%;
}

.container-banner {
  background-image: url("../images/main-netmatters/netmatters-office.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  backdrop-filter: brightness(50%);
}

.banner p {
  color: #fff;
  margin-bottom: 0.375rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin: 0 0 10px;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
  color: #fff;
  font-weight: 600;
}

.banner-button {
  color: #fff;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 1.25rem;
  border-radius: 3px;
  padding: 5px 20px;
  text-align: center;
  background-color: #926fb1;
}

.banner-button:hover {
  background-color: #7e57a0;
  cursor: pointer;
}

footer {
  background-color: #323544;
  color: white;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.netmatters-logo-white {
  height: 51.250px;
  width: 250px;
}

.fb-logo {
  height: 56px;
  width: 101px;
  margin: 5px;
  background-color: #212330;
  background-image: url("../images/main-netmatters/FBicon.png");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
}

.fb-logo:hover {
  background-color: #3b5998;
}

.in-logo {
  height: 56px;
  width: 101px;
  margin: 5px;
  background-color: #212330;
  background-image: url("../images/main-netmatters/linkinlogo.png");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
}

.in-logo:hover {
  background-color: #0077b5;
}

.twitter-logo {
  height: 56px;
  width: 101px;
  margin: 5px;
  background-color: #212330;
  background-image: url("../images/main-netmatters/twittericon.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.twitter-logo:hover {
  background-color: #00aced;
}

.insta-logo {
  height: 56px;
  width: 101px;
  margin: 5px;
  background-color: #212330;
  background-image: url("../images/main-netmatters/instagramlogo.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.insta-logo:hover {
  background-color: #d93175;
}

h6 {
  text-transform: uppercase;
  font-size: 1rem;
}

.footer-ul {
  font-size: .8125rem;
  line-height: 1.375rem;
}

.footer-ul li:last-child {
  padding-bottom: 30px;
}

.footer-bottom {
  background-color: #212330;
  font-size: .8125rem;
  line-height: 1.375rem;
  padding: 15px 15px;
}

.newslettersu {
  background-color: #dddddd;
}

h5 {
  color: #333645;
  font-size: 2rem;
  line-height: 1.1;
}

label {
  color: #333645;
  line-height: 32px;
  font-weight: 600;
}

.required::after {
  content: "*";
  color: #d24d57;
}

.form-news {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.checkbox-input {
  display: none;
}

.checkbox-box {
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
  margin-right: 20px;
}

.checkbox-box::after {
  content: "\2713";
  color: #ddd;
}

.checkbox-input:checked + .checkbox-box {
  background: #333645;
}

.label-check:hover {
  cursor: pointer;
}

.privacy-policy {
  text-decoration: underline;
}

.news-subscribe {
  color: #fff;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  background-color: #333645;
}

.news-subscribe:hover {
  background-color: #22242e;
  cursor: pointer;
}

.clients img {
  filter: grayscale(1);
}

.clients img:hover {
  filter: grayscale(0);
}

h2 {
  color: #333645;
  font-size: 2.7rem;
  font-weight: bold;
}

#bs-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#bs-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #67809f;
  color: white;
}

#bs-service:hover .os-rm-bs {
  background-color: white;
  color: #67809f;
}

#bs-service:hover .os-header {
  color: white;
}

#it-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#it-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #4183d7;
  color: white;
}

#it-service:hover .os-rm-it {
  background-color: white;
  color: #4183d7;
}

#it-service:hover .os-header {
  color: white;
}

#dm-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#dm-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #2ecc71;
  color: white;
}

#dm-service:hover .os-rm-dm {
  background-color: white;
  color: #2ecc71;
}

#dm-service:hover .os-header {
  color: white;
}

#ts-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#ts-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #d64541;
  color: white;
}

#ts-service:hover .os-rm-ts {
  background-color: white;
  color: #d64541;
}

#ts-service:hover .os-header {
  color: white;
}

#wd-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#wd-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #926fb1;
  color: white;
}

#wd-service:hover .os-rm-wd {
  background-color: white;
  color: #926fb1;
}

#wd-service:hover .os-header {
  color: white;
}

#cs-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#cs-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #f62459;
  color: white;
}

#cs-service:hover .os-rm-cs {
  background-color: white;
  color: #f62459;
}

#cs-service:hover .os-header {
  color: white;
}

#dt-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#dt-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #ce4125;
  color: white;
}

#dt-service:hover .os-rm-dt {
  background-color: white;
  color: #ce4125;
}

#dt-service:hover .os-header {
  color: white;
}

.os-logo {
  background-color: #67809f;
  font-size: 2rem;
  line-height: 62px;
}

.os-header {
  font-weight: 400;
  color: #333645;
  font-size: 1.3rem;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

.os-p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
}

.os-rm-bs {
  display: inline-flex;
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-it {
  display: inline-flex;
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-dm {
  display: inline-flex;
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-ts {
  display: inline-flex;
  color: #fff;
  background-color: #d64541;
  border-color: #d64541;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-wd {
  display: inline-flex;
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-cs {
  display: inline-flex;
  color: #fff;
  background-color: #f62459;
  border-color: #f62459;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-dt {
  display: inline-flex;
  color: #fff;
  background-color: #ce4125;
  border-color: #ce4125;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.viewourwork {
  color: #333645;
  font-weight: 600;
  font-size: 1.625rem;
}

.viewourwork:hover {
  text-decoration: underline;
}

.partners img {
  filter: grayscale(1);
}

.partners img:hover {
  filter: grayscale(0);
}

.container-welcometo {
  background-color: #323544;
  color: #fff;
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.1;
}

strong {
  font-weight: 600;
}

strong a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.whychooseus-button {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 20px auto 17px;
  text-align: center;
  background-color: #272936;
}

.whychooseus-button:hover {
  background-color: #121318;
  cursor: pointer;
}

.ourculture-button {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: auto auto 50px;
  text-align: center;
  background-color: #272936;
}

.ourculture-button:hover {
  background-color: #121318;
  cursor: pointer;
}

.rating {
  font-size: 40px;
  margin-bottom: 25px;
}

.quote {
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 600;
}

.quote-author {
  color: #a3a8ac;
  font-size: 1.1rem;
  font-weight: 600;
}

.quote-company {
  color: #fff;
}

.googlereviews-button {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 20px 8px auto auto;
  text-align: center;
  background-color: #4387f6;
}

.googlereviews-button:hover {
  background-color: #166af4;
  cursor: pointer;
}

.trustpilot-button {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 20px auto auto;
  text-align: center;
  background-color: #00b67b;
}

.trustpilot-button:hover {
  background-color: #009b69;
  cursor: pointer;
}

h4 {
  color: #333645;
  font-weight: 600;
  font-size: 2.25rem;
  margin-top: 25px;
}

.container-news-card {
  border: solid #ccc 1px;
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.container-news-card:hover {
  top: -10px;
  transition: .5s ease;
  cursor: pointer;
}

.card-image {
  object-fit: fill;
  width: 100%;
}

.title-article1 {
  color: #926fb1;
}

.title-article2 {
  color: #ce4125;
}

.title-article3 {
  color: #926fb1;
}

.para-article {
  color: #666;
  line-height: 1.375rem;
  font-size: .8125rem;
}

.read-more-article1 {
  display: inline-flex;
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.read-more-article2 {
  display: inline-flex;
  color: #fff;
  background-color: #ce4125;
  border-color: #ce4125;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.read-more-article3 {
  display: inline-flex;
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.container-card-footer {
  border-top: solid #ccc 1px;
}

.postedby {
  color: #333645;
  line-height: 1.375rem;
  font-size: .875rem;
}

.date-posted {
  color: #666;
  line-height: 1.375rem;
  font-size: .875rem;
}

.viewall {
  color: #333645;
  font-weight: 600;
  font-size: 1.625rem;
}

.viewall:hover {
  text-decoration: underline;
}

.phone-icon {
  font-size: 32px;
}

.Ham-icon {
  font-size: 32px;
}

.search-bar {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 47px;
  padding: 5px 5px 5px 15px;
  display: inline-flex;
}

.search-button {
  font-size: 20px;
}

.search-button :hover {
  cursor: pointer;
}
