@charset "UTF-8";
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

* {
  box-sizing: border-box;
}

.content {
  display: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 991px) {
  .container {
    width: 991px;
  }
}

@media (min-width: 1260px) {
  .container {
    width: 1270px;
  }
}

.padfifty {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pad20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad21 {
  padding: 21px;
}

.centered-mini-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .4px;
}

body a:hover {
  cursor: pointer;
}

.container-banner {
  width: 100%;
  height: 550px;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

@media (min-width: 991px) {
  .container-banner {
    text-align: left;
  }
}

.banner {
  padding: 40px 0px;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 460px) {
  .banner {
    padding: 3rem 0.75rem;
  }
}

@media (min-width: 767px) {
  .banner {
    padding: 8rem 2rem;
  }
}

@media (min-width: 991px) {
  .banner {
    padding: 5rem 1rem 0.8rem;
    width: 80%;
  }
}

@media (min-width: 991px) and (min-width: 991px) {
  .banner {
    width: 991px;
  }
}

@media (min-width: 991px) and (min-width: 1260px) {
  .banner {
    width: 1270px;
  }
}

.banner-button {
  display: inline-block;
  margin: 31px 0px 18px;
}

.container-footer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-flow: column;
}

@media (min-width: 991px) {
  .container-footer {
    width: 991px;
  }
}

@media (min-width: 1260px) {
  .container-footer {
    width: 1270px;
  }
}

@media (min-width: 1260px) {
  .container-footer {
    flex-flow: row;
  }
}

.container-socialincicons {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 26px 0px 0px;
}

@media (min-width: 991px) {
  .container-socialincicons {
    width: 40%;
  }
}

#follow {
  margin-top: 20px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

@media (min-width: 480px) {
  .social-media {
    width: 450px;
  }
}

@media (min-width: 1260px) {
  .social-media {
    width: 300px;
  }
}

@media (min-width: 767px) {
  .container-about {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: 767px) {
  .container-about-individual {
    width: 45%;
    margin-right: 15px;
  }
}

@media (min-width: 991px) {
  .container-about-individual {
    width: 20%;
  }
}

h6 {
  margin-bottom: 26px;
}

#about {
  margin-top: 26px;
}

.footer-bottom {
  width: 100%;
}

.footer-bottom-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 767px) {
  .footer-bottom-container {
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media (min-width: 991px) {
  .footer-bottom-container {
    width: 991px;
  }
}

@media (min-width: 1260px) {
  .footer-bottom-container {
    width: 1270px;
  }
}

@media (max-width: 768px) {
  .hidden-hyphen {
    display: none;
  }
}

.container-newslettersu-keepbg {
  background-color: #dddddd;
  width: 100%;
}

h5 {
  padding-bottom: 15px;
}

.required {
  padding-bottom: 5px;
}

.form-wrapper {
  margin: 15px 0px;
  display: flex;
}

.form-wrapper label {
  display: flex;
}

.checkbox-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.news-subscribe {
  margin-top: 20px;
}

.input-wrapper-sidebyside {
  display: flex;
  flex-direction: column;
}

@media (min-width: 991px) {
  .input-wrapper-sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 991px) {
  .input-wrapper {
    width: 50%;
    margin-right: 30px;
  }
}

.container-clients {
  width: max-content;
  height: 170px;
  display: flex;
  overflow-x: auto;
}

.clients {
  margin: 1.5rem;
}

.os-container {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
}

.os-content-container {
  display: flex;
  width: 100%;
  height: 315px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 30px;
}

.os-content-container div {
  margin-bottom: 10px;
}

.os-content-container a:hover {
  cursor: pointer;
}

.viewourwork {
  text-align: center;
}

@media (max-width: 768px) {
  .viewourwork {
    margin-top: 30px;
  }
}

@media (min-width: 767px) {
  #viewourwork1 {
    display: none;
  }
}

#viewourwork2 {
  margin-right: 20px;
}

@media (max-width: 768px) {
  #viewourwork2 {
    display: none;
  }
}

.container-os-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

@media (min-width: 767px) {
  .container-os-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-service {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

@media (min-width: 991px) {
  #bs-service {
    width: 30%;
  }
}

@media (min-width: 991px) {
  #it-service {
    width: 30%;
  }
}

@media (min-width: 991px) {
  #dm-service {
    width: 30%;
  }
}

@media (min-width: 767px) {
  #ts-service {
    width: 47%;
  }
}

@media (min-width: 1260px) {
  #ts-service {
    width: 23%;
  }
}

@media (min-width: 767px) {
  #wd-service {
    width: 47%;
  }
}

@media (min-width: 1260px) {
  #wd-service {
    width: 23%;
  }
}

@media (min-width: 767px) {
  #cs-service {
    width: 47%;
  }
}

@media (min-width: 1260px) {
  #cs-service {
    width: 23%;
  }
}

@media (min-width: 767px) {
  #dt-service {
    width: 47%;
  }
}

@media (min-width: 1260px) {
  #dt-service {
    width: 23%;
  }
}

.container-partners {
  width: max-content;
  height: 170px;
  display: flex;
  overflow-x: auto;
}

.partners {
  margin: 1.5rem;
}

.container-welcometo {
  padding: 50px 0px;
}

h3 {
  margin-bottom: 40px;
}

.welcome-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 991px) {
  .welcome-content {
    flex-direction: row;
  }
}

@media (min-width: 991px) {
  .welcometo {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
}

.welcometo p {
  margin-bottom: 25px;
}

@media (min-width: 991px) {
  .clientsthink {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
}

.clientsthink p {
  margin-bottom: 25px;
}

.n-margin-top {
  margin-top: 25px;
}

.container-news-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 10px;
}

.container-card-core {
  padding: 30px;
}

.card-logo {
  margin-right: 20px;
}

.card-logo img {
  border-radius: 100%;
}

.read-more-article1 {
  margin: 20px 0px;
}

.read-more-article2 {
  margin: 20px 0px;
}

.read-more-article3 {
  margin: 20px 0px;
}

.viewall {
  width: 100%;
  text-align: center;
  margin: 30px 0px;
}

@media (min-width: 767px) {
  .viewall {
    width: auto;
  }
}

#viewall2 {
  margin-right: 20px;
}

@media (max-width: 768px) {
  #viewall2 {
    display: none;
  }
}

@media (min-width: 767px) {
  #viewall1 {
    display: none;
  }
}

@media (min-width: 767px) {
  #operations-support {
    display: none;
  }
}

@media (min-width: 1260px) {
  #operations-support {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 767px) {
  .container-all-cards {
    display: flex;
  }
}

.container-ln-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .nav-bar {
    display: none;
  }
}

.nav-bar-main {
  display: flex;
}

.dropdown-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.header-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 460px) {
  .header-row {
    justify-content: space-between;
  }
}

.header-logo {
  margin-right: 10px;
}

@media (min-width: 767px) {
  .header-logo {
    margin-right: 30px;
  }
}

.phone-icon {
  margin-left: 20px;
}

@media (min-width: 767px) {
  .phone-icon {
    display: none;
  }
}

.phone-icon i {
  color: #333645;
}

.search-container {
  margin-top: 11px;
}

.search-container input {
  width: 100%;
}

@media (min-width: 767px) {
  .search-container {
    display: none;
  }
}

.search-container2 {
  display: flex;
}

.search-container2 input {
  width: 100%;
}

@media (max-width: 767px) {
  .search-container2 {
    display: none;
  }
}

@media (max-width: 991px) {
  .contact-button {
    display: none;
  }
}

@media (max-width: 991px) {
  .support-button {
    display: none;
  }
}

.cookie-consent {
  color: #fff;
  background-color: #999aa2;
  border-color: #999aa2;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  position: fixed;
  line-height: 22px;
  z-index: 99;
  bottom: 0;
  left: 0;
  display: flex;
  background: #75788a;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  border: solid #75788a;
  border-width: 1px 1px 0 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
  font-size: .8rem;
}

.container-cookie {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.container-cookie .cookie-content {
  background-color: #fff;
  border-radius: 3px;
}

@media (min-width: 767px) {
  .container-cookie .cookie-content {
    width: 600px;
  }
}

.container-cookie .cookie-content h1 {
  font-size: 1.625rem;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
}

.container-cookie .cookie-content p {
  padding: 20px;
  line-height: 1.875rem;
  margin-bottom: 25px;
  font-family: Poppins,sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  color: #666;
}

.container-cookie .cookie-content p a {
  color: #333645;
}

.container-cookie .cookie-content p a:hover {
  text-decoration: underline;
}

.container-cookie .cookie-content .container-cookie-button {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  padding: 20px;
}

@media (min-width: 767px) {
  .container-cookie .cookie-content .container-cookie-button {
    flex-direction: row;
  }
}

.container-cookie .cookie-content .container-cookie-button #change-settings-cookie {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 20px 10px;
  text-align: center;
  background-color: #999aa2;
  width: 100%;
  flex: 1;
}

.container-cookie .cookie-content .container-cookie-button #change-settings-cookie:hover {
  background-color: #84858f;
  cursor: pointer;
}

@media (min-width: 767px) {
  .container-cookie .cookie-content .container-cookie-button #change-settings-cookie {
    width: 45%;
  }
}

.container-cookie .cookie-content .container-cookie-button #accept-cookies-cookie {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 20px 10px;
  text-align: center;
  background-color: #926fb1;
  width: 100%;
  flex: 1;
}

.container-cookie .cookie-content .container-cookie-button #accept-cookies-cookie:hover {
  background-color: #79539a;
  cursor: pointer;
}

@media (min-width: 767px) {
  .container-cookie .cookie-content .container-cookie-button #accept-cookies-cookie {
    width: 45%;
  }
}

.container-banner {
  background-image: url("../images/main-netmatters/netmatters-office.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  backdrop-filter: brightness(50%);
}

@media (min-width: 991px) {
  .banner {
    backdrop-filter: brightness(100%);
  }
}

.banner p {
  color: #fff;
  margin-bottom: 0.375rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin: 0 0 10px;
}

@media (min-width: 991px) {
  .banner p {
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
}

.banner h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
  color: #fff;
  font-weight: 600;
}

@media (min-width: 991px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}

.banner .banner-button {
  color: #fff;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 1.25rem;
  border-radius: 3px;
  padding: 5px 20px;
  text-align: center;
  background-color: #926fb1;
}

.banner .banner-button:hover {
  background-color: #7e57a0;
  cursor: pointer;
}

footer {
  background-color: #323544;
  color: white;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fb-logo {
  height: 56px;
  width: 101px;
  margin: 5px;
  background-color: #212330;
  background-image: url("../images/main-netmatters/FBicon.png");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
}

@media (min-width: 480px) {
  .fb-logo {
    width: 65px;
  }
}

.fb-logo:hover {
  background-color: #3b5998;
}

.in-logo {
  height: 56px;
  width: 101px;
  margin: 5px;
  background-color: #212330;
  background-image: url("../images/main-netmatters/linkinlogo.png");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
}

@media (min-width: 480px) {
  .in-logo {
    width: 65px;
  }
}

.in-logo:hover {
  background-color: #0077b5;
}

.twitter-logo {
  height: 56px;
  width: 101px;
  margin: 5px;
  background-color: #212330;
  background-image: url("../images/main-netmatters/twittericon.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

@media (min-width: 480px) {
  .twitter-logo {
    width: 65px;
  }
}

.twitter-logo:hover {
  background-color: #00aced;
}

.insta-logo {
  height: 56px;
  width: 101px;
  margin: 5px;
  background-color: #212330;
  background-image: url("../images/main-netmatters/instagramlogo.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

@media (min-width: 480px) {
  .insta-logo {
    width: 65px;
  }
}

.insta-logo:hover {
  background-color: #d93175;
}

h6 {
  text-transform: uppercase;
  font-size: 1rem;
}

.footer-ul {
  font-size: .8125rem;
  line-height: 1.375rem;
}

.footer-ul li:last-child {
  padding-bottom: 30px;
}

.footer-bottom {
  background-color: #212330;
  font-size: .8125rem;
  line-height: 1.375rem;
  padding: 15px 15px;
}

h5 {
  color: #333645;
  font-size: 2rem;
  line-height: 1.1;
}

label {
  color: #333645;
  line-height: 32px;
  font-weight: 600;
}

.required::after {
  content: "*";
  color: #d24d57;
}

.form-news {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-news:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

.checkbox-input {
  display: none;
}

.checkbox-box {
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
  margin-right: 20px;
}

.checkbox-box::after {
  content: "\2713";
  color: #ddd;
}

.checkbox-input:checked + .checkbox-box {
  background: #333645;
}

.label-check:hover {
  cursor: pointer;
}

.privacy-policy {
  text-decoration: underline;
}

.privacy-policy:hover {
  color: #12272c;
}

.news-subscribe {
  color: #fff;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  background-color: #333645;
}

.news-subscribe:hover {
  background-color: #22242e;
  cursor: pointer;
}

.clients img {
  filter: grayscale(1);
}

.clients img:hover {
  filter: grayscale(0);
}

h2 {
  color: #333645;
  font-size: 2.7rem;
  font-weight: bold;
}

#bs-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#bs-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #67809f;
  color: white;
}

#bs-service:hover:hover .os-logo-bs {
  background-color: white;
}

#bs-service:hover:hover i {
  color: #67809f;
}

#bs-service:hover .os-rm-bs {
  background-color: white;
  color: #67809f;
}

#bs-service:hover .os-header {
  color: white;
}

#it-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#it-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #4183d7;
  color: white;
}

#it-service:hover:hover .os-logo-it {
  background-color: white;
}

#it-service:hover:hover i {
  color: #4183d7;
}

#it-service:hover .os-rm-it {
  background-color: white;
  color: #4183d7;
}

#it-service:hover .os-header {
  color: white;
}

#dm-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#dm-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #2ecc71;
  color: white;
}

#dm-service:hover:hover .os-logo-dm {
  background-color: white;
}

#dm-service:hover:hover i {
  color: #2ecc71;
}

#dm-service:hover .os-rm-dm {
  background-color: white;
  color: #2ecc71;
}

#dm-service:hover .os-header {
  color: white;
}

#ts-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#ts-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #d64541;
  color: white;
}

#ts-service:hover:hover .os-logo-ts {
  background-color: white;
}

#ts-service:hover:hover i {
  color: #d64541;
}

#ts-service:hover .os-rm-ts {
  background-color: white;
  color: #d64541;
}

#ts-service:hover .os-header {
  color: white;
}

#wd-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#wd-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #926fb1;
  color: white;
}

#wd-service:hover:hover .os-logo-wd {
  background-color: white;
}

#wd-service:hover:hover i {
  color: #926fb1;
}

#wd-service:hover .os-rm-wd {
  background-color: white;
  color: #926fb1;
}

#wd-service:hover .os-header {
  color: white;
}

#cs-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#cs-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #f62459;
  color: white;
}

#cs-service:hover:hover .os-logo-cs {
  background-color: white;
}

#cs-service:hover:hover i {
  color: #f62459;
}

#cs-service:hover .os-rm-cs {
  background-color: white;
  color: #f62459;
}

#cs-service:hover .os-header {
  color: white;
}

#dt-service {
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

#dt-service:hover {
  top: -10px;
  transition: .5s ease;
  background-color: #ce4125;
  color: white;
}

#dt-service:hover:hover .os-logo-dt {
  background-color: white;
}

#dt-service:hover:hover i {
  color: #ce4125;
}

#dt-service:hover .os-rm-dt {
  background-color: white;
  color: #ce4125;
}

#dt-service:hover .os-header {
  color: white;
}

.os-logo-bs {
  background-color: #67809f;
  font-size: 2rem;
  border-radius: 50%;
  display: block;
  height: 65px;
  width: 65px;
  line-height: 65px;
}

.os-logo-bs i {
  color: #fff;
}

.os-logo-it {
  background-color: #4183d7;
  font-size: 2rem;
  border-radius: 50%;
  display: block;
  height: 65px;
  width: 65px;
  line-height: 65px;
}

.os-logo-it i {
  color: #fff;
}

.os-logo-dm {
  background-color: #2ecc71;
  font-size: 2rem;
  border-radius: 50%;
  display: block;
  height: 65px;
  width: 65px;
  line-height: 65px;
}

.os-logo-dm i {
  color: #fff;
}

.os-logo-ts {
  background-color: #d64541;
  font-size: 2rem;
  border-radius: 50%;
  display: block;
  height: 65px;
  width: 65px;
  line-height: 65px;
}

.os-logo-ts i {
  color: #fff;
}

.os-logo-wd {
  background-color: #926fb1;
  font-size: 2rem;
  border-radius: 50%;
  display: block;
  height: 65px;
  width: 65px;
  line-height: 65px;
}

.os-logo-wd i {
  color: #fff;
}

.os-logo-cs {
  background-color: #f62459;
  font-size: 2rem;
  border-radius: 50%;
  display: block;
  height: 65px;
  width: 65px;
  line-height: 65px;
}

.os-logo-cs i {
  color: #fff;
}

.os-logo-dt {
  background-color: #ce4125;
  font-size: 2rem;
  border-radius: 50%;
  display: block;
  height: 65px;
  width: 65px;
  line-height: 65px;
}

.os-logo-dt i {
  color: #fff;
}

.os-header {
  font-weight: 400;
  color: #333645;
  font-size: 1.3rem;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

.os-p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
}

.os-rm-bs {
  display: inline-flex;
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-it {
  display: inline-flex;
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-dm {
  display: inline-flex;
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-ts {
  display: inline-flex;
  color: #fff;
  background-color: #d64541;
  border-color: #d64541;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-wd {
  display: inline-flex;
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-cs {
  display: inline-flex;
  color: #fff;
  background-color: #f62459;
  border-color: #f62459;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.os-rm-dt {
  display: inline-flex;
  color: #fff;
  background-color: #ce4125;
  border-color: #ce4125;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.viewourwork {
  color: #333645;
  font-weight: 600;
  font-size: 1.625rem;
}

.viewourwork i {
  color: #333645;
}

.viewourwork:hover {
  text-decoration: underline;
}

.viewourwork:hover:hover i {
  text-decoration: underline;
}

.partners img {
  filter: grayscale(1);
}

.partners img:hover {
  filter: grayscale(0);
}

.container-welcometo-keepbg {
  background-color: #323544;
  color: #fff;
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.1;
}

strong {
  font-weight: 600;
}

strong a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.whychooseus-button {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 0px 5px 17px 0px;
  text-align: center;
  background-color: #272936;
}

.whychooseus-button:hover {
  background-color: #121318;
  cursor: pointer;
}

.ourculture-button {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 0px auto 50px;
  text-align: center;
  background-color: #272936;
}

.ourculture-button:hover {
  background-color: #121318;
  cursor: pointer;
}

.rating {
  font-size: 40px;
  margin-bottom: 25px;
}

.rating i {
  color: #ffa500;
}

.quote {
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 600;
}

.quote-author {
  color: #a3a8ac;
  font-size: 1.1rem;
  font-weight: 600;
}

.quote-company {
  color: #fff;
}

.googlereviews-button {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 0px 5px 17px auto;
  text-align: center;
  background-color: #4387f6;
}

.googlereviews-button:hover {
  background-color: #166af4;
  cursor: pointer;
}

.trustpilot-button {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 0px auto auto;
  text-align: center;
  background-color: #00b67b;
}

.trustpilot-button:hover {
  background-color: #009b69;
  cursor: pointer;
}

h4 {
  color: #333645;
  font-weight: 600;
  font-size: 2.25rem;
  margin-top: 25px;
}

.category-button {
  background-color: #926fb1;
  position: absolute;
  top: 20px;
  right: 0;
  color: #fff;
  font-size: .75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  z-index: 1;
}

.category-button:hover {
  text-decoration: underline;
}

.category-button2 {
  background-color: #ce4125;
  position: absolute;
  top: 20px;
  right: 0;
  color: #fff;
  font-size: .75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  z-index: 1;
}

.category-button2:hover {
  text-decoration: underline;
}

.container-news-card {
  border: solid #ccc 1px;
  position: relative;
  top: 0;
  transition: .5s ease;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.container-news-card:hover {
  top: -10px;
  transition: .5s ease;
  cursor: pointer;
}

.title-article1 {
  color: #926fb1;
}

.title-article2 {
  color: #ce4125;
}

.title-article3 {
  color: #926fb1;
}

.para-article {
  color: #666;
  line-height: 1.375rem;
  font-size: .8125rem;
}

.read-more-article1 {
  display: inline-flex;
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.read-more-article2 {
  display: inline-flex;
  color: #fff;
  background-color: #ce4125;
  border-color: #ce4125;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.read-more-article3 {
  display: inline-flex;
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.container-card-footer {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
  border-top: solid #ccc 1px;
}

.postedby {
  color: #333645;
  line-height: 1.375rem;
  font-size: .875rem;
}

.date-posted {
  color: #666;
  line-height: 1.375rem;
  font-size: .875rem;
}

.viewall {
  color: #333645;
  font-weight: 600;
  font-size: 1.625rem;
}

.viewall:hover {
  text-decoration: underline;
}

.viewall:hover i {
  text-decoration: underline;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
}

.keep-bg-white {
  background-color: #fff;
}

.slide-down {
  animation: slideDown 1.5s forwards;
}

@keyframes slideDown {
  from {
    top: -212px;
    /* Start position above the viewport */
  }
  to {
    top: 0;
    /* Final position at the top of the viewport */
  }
}

.logo-container {
  flex-grow: 1;
}

@media (min-width: 767px) {
  .logo-container {
    margin-right: 20px;
  }
}

.phone-icon {
  font-size: 25px;
}

.hamburger {
  display: block;
  background-color: #333645;
  padding: 10px 15px;
  border-radius: 3px;
  margin-left: 20px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px auto;
}

.hamburger:hover {
  cursor: pointer;
  background-color: #212330;
}

.search-bar {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 100%;
  height: 47px;
  padding: 5px 5px 5px 15px;
  display: inline-flex;
}

.search-button {
  font-size: 20px;
}

.search-button :hover {
  cursor: pointer;
}

.support-button {
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 0px 15px 0px 0px;
  text-align: center;
  background-color: #4183d7;
}

.support-button:hover {
  background-color: #286abd;
  cursor: pointer;
}

.contact-button {
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 0px 15px 0px 0px;
  text-align: center;
  background-color: #999aa2;
}

.contact-button:hover {
  background-color: #7e808a;
  cursor: pointer;
}

.search-bar2 {
  display: inline-flex;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  width: 100%;
  height: 58px;
  padding: 0px 0px 0px 15px;
}

@media (min-width: 992px) and (max-width: 1243px) {
  .search-bar2 {
    display: none;
  }
}

.search-button2 {
  padding: 7px 20px;
  height: 58px;
  width: 70px;
  font-size: 1.4rem;
  border-radius: 0 3px 3px 0;
  background-color: #999aa2;
  color: #fff;
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1243px) {
  .search-button2 {
    border-radius: 3px;
  }
}

.search-button2:hover {
  background-color: #7e808a;
  cursor: pointer;
}

.nav-bar {
  background-color: #323544;
}

.nav-bar-main {
  color: white;
  text-align: center;
  max-height: 95px;
}

.nav-bar-main span {
  font-size: 1.438rem;
  display: block;
  padding-top: 10px;
}

.nav-bar-main small {
  display: block;
  font-size: .625rem;
  text-transform: uppercase;
}

.nav-bar-main p {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.bs-nav {
  flex: 1;
}

.bs-nav span:first-child {
  color: #67809f;
}

.bs-nav:hover span:first-child {
  color: #fff;
}

.bs-nav:hover {
  background-color: #67809f;
}

.bs-nav:hover .dropdown {
  display: block;
}

.bs-nav:hover::after {
  content: '';
  position: relative;
  top: 42px;
  width: 0;
  height: 0;
  border-left: 69px solid transparent;
  border-right: 69px solid transparent;
  border-top: 45px solid #67809f;
  z-index: 1;
}

@media (min-width: 1260px) {
  .bs-nav:hover::after {
    border-left: 89px solid transparent;
    border-right: 89px solid transparent;
  }
}

.bs-nav .dropdown {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  top: 211px;
  left: 0;
  background-color: #526781;
  z-index: 1;
  display: none;
  text-align: left;
}

.bs-nav .dropdown .dropdown-container {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}

@media (min-width: 1260px) {
  .bs-nav .dropdown .dropdown-container {
    width: 1200px;
  }
}

.bs-nav .dropdown .dropdown-container h2 {
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 2rem;
}

.it-nav {
  flex: 1;
}

.it-nav span:first-child {
  color: #4183d7;
}

.it-nav:hover span:first-child {
  color: #fff;
}

.it-nav:hover {
  background-color: #4183d7;
}

.it-nav:hover .dropdown {
  display: block;
}

.it-nav:hover::after {
  content: '';
  position: relative;
  top: 42px;
  width: 0;
  height: 0;
  border-left: 69px solid transparent;
  border-right: 69px solid transparent;
  border-top: 45px solid #4183d7;
  z-index: 1;
}

@media (min-width: 1260px) {
  .it-nav:hover::after {
    border-left: 89px solid transparent;
    border-right: 89px solid transparent;
  }
}

.it-nav .dropdown {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  top: 211px;
  left: 0;
  background-color: #286abd;
  z-index: 1;
  display: none;
  text-align: left;
}

.it-nav .dropdown .dropdown-container {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}

@media (min-width: 1260px) {
  .it-nav .dropdown .dropdown-container {
    width: 1200px;
  }
}

.it-nav .dropdown .dropdown-container h2 {
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 2rem;
}

.dm-nav {
  flex: 1;
}

.dm-nav span:first-child {
  color: #2ecc71;
}

.dm-nav:hover span:first-child {
  color: #fff;
}

.dm-nav:hover {
  background-color: #2ecc71;
}

.dm-nav:hover .dropdown {
  display: block;
}

.dm-nav:hover::after {
  content: '';
  position: relative;
  top: 42px;
  width: 0;
  height: 0;
  border-left: 69px solid transparent;
  border-right: 69px solid transparent;
  border-top: 45px solid #2ecc71;
  z-index: 1;
}

@media (min-width: 1260px) {
  .dm-nav:hover::after {
    border-left: 89px solid transparent;
    border-right: 89px solid transparent;
  }
}

.dm-nav .dropdown {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  top: 211px;
  left: 0;
  background-color: #25a25a;
  z-index: 1;
  display: none;
  text-align: left;
}

.dm-nav .dropdown .dropdown-container {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}

@media (min-width: 1260px) {
  .dm-nav .dropdown .dropdown-container {
    width: 1200px;
  }
}

.dm-nav .dropdown .dropdown-container h2 {
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 2rem;
}

.ts-nav {
  flex: 1;
}

.ts-nav span:first-child {
  color: #d64541;
}

.ts-nav:hover span:first-child {
  color: #fff;
}

.ts-nav:hover {
  background-color: #d64541;
}

.ts-nav:hover .dropdown {
  display: block;
}

.ts-nav:hover::after {
  content: '';
  position: relative;
  top: 42px;
  width: 0;
  height: 0;
  border-left: 69px solid transparent;
  border-right: 69px solid transparent;
  border-top: 45px solid #d64541;
  z-index: 1;
}

@media (min-width: 1260px) {
  .ts-nav:hover::after {
    border-left: 89px solid transparent;
    border-right: 89px solid transparent;
  }
}

.ts-nav .dropdown {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  top: 211px;
  left: 0;
  background-color: #bc2c28;
  z-index: 1;
  display: none;
  text-align: left;
}

.ts-nav .dropdown .dropdown-container {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}

@media (min-width: 1260px) {
  .ts-nav .dropdown .dropdown-container {
    width: 1200px;
  }
}

.ts-nav .dropdown .dropdown-container h2 {
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 2rem;
}

.wd-nav {
  flex: 1;
}

.wd-nav span:first-child {
  color: #926fb1;
}

.wd-nav:hover span:first-child {
  color: #fff;
}

.wd-nav:hover {
  background-color: #926fb1;
}

.wd-nav:hover .dropdown {
  display: block;
}

.wd-nav:hover::after {
  content: '';
  position: relative;
  top: 42px;
  width: 0;
  height: 0;
  border-left: 69px solid transparent;
  border-right: 69px solid transparent;
  border-top: 45px solid #926fb1;
  z-index: 1;
}

@media (min-width: 1260px) {
  .wd-nav:hover::after {
    border-left: 89px solid transparent;
    border-right: 89px solid transparent;
  }
}

.wd-nav .dropdown {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  top: 211px;
  left: 0;
  background-color: #79539a;
  z-index: 1;
  display: none;
  text-align: left;
}

.wd-nav .dropdown .dropdown-container {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}

@media (min-width: 1260px) {
  .wd-nav .dropdown .dropdown-container {
    width: 1200px;
  }
}

.wd-nav .dropdown .dropdown-container h2 {
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 2rem;
}

.cs-nav {
  flex: 1;
}

.cs-nav span:first-child {
  color: #f62459;
}

.cs-nav:hover span:first-child {
  color: #fff;
}

.cs-nav:hover {
  background-color: #f62459;
}

.cs-nav:hover .dropdown {
  display: block;
}

.cs-nav:hover::after {
  content: '';
  position: relative;
  top: 42px;
  width: 0;
  height: 0;
  border-left: 69px solid transparent;
  border-right: 69px solid transparent;
  border-top: 45px solid #f62459;
  z-index: 1;
}

@media (min-width: 1260px) {
  .cs-nav:hover::after {
    border-left: 89px solid transparent;
    border-right: 89px solid transparent;
  }
}

.cs-nav .dropdown {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  top: 211px;
  left: 0;
  background-color: #de093f;
  z-index: 1;
  display: none;
  text-align: left;
}

.cs-nav .dropdown .dropdown-container {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}

@media (min-width: 1260px) {
  .cs-nav .dropdown .dropdown-container {
    width: 1200px;
  }
}

.cs-nav .dropdown .dropdown-container h2 {
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 2rem;
}

.dc-nav {
  flex: 1;
}

.dc-nav span:first-child {
  color: #ce4125;
}

.dc-nav:hover span:first-child {
  color: #fff;
}

.dc-nav:hover {
  background-color: #ce4125;
}

.dc-nav:hover .dropdown {
  display: block;
}

.dc-nav:hover::after {
  content: '';
  position: relative;
  top: 42px;
  width: 0;
  height: 0;
  border-left: 69px solid transparent;
  border-right: 69px solid transparent;
  border-top: 45px solid #ce4125;
  z-index: 1;
}

@media (min-width: 1260px) {
  .dc-nav:hover::after {
    border-left: 89px solid transparent;
    border-right: 89px solid transparent;
  }
}

.dc-nav .dropdown {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  top: 211px;
  left: 0;
  background-color: #a3331d;
  z-index: 1;
  display: none;
  text-align: left;
}

.dc-nav .dropdown .dropdown-container {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}

@media (min-width: 1260px) {
  .dc-nav .dropdown .dropdown-container {
    width: 1200px;
  }
}

.dc-nav .dropdown .dropdown-container h2 {
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 2rem;
}

.dropdown-link {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.313rem;
  padding: 0.625rem 0.938rem 0.625rem 0;
  display: flex;
  align-items: center;
  width: 33%;
  margin-top: 15px;
}

.dropdown-link a:hover {
  text-decoration: underline;
}

.Small-nav-menu {
  width: 280px;
  top: 0;
  right: 0;
  z-index: 1500;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #333645;
  text-transform: uppercase;
  font-size: 1.125rem;
  text-decoration: none;
}

.Small-nav-menu .small-nav-header {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.Small-nav-menu .small-nav-header:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.Small-nav-menu i {
  width: 100%;
  font-size: 24px;
}

.Small-nav-menu .fa-laptop {
  color: #67809f;
}

.Small-nav-menu .fa-computer {
  color: #4183d7;
}

.Small-nav-menu .fa-chart-simple {
  color: #2ecc71;
}

.Small-nav-menu .fa-phone-volume {
  color: #d64541;
}

.Small-nav-menu .fa-code {
  color: #926fb1;
}

.Small-nav-menu .fa-shield {
  color: #f62459;
}

.Small-nav-menu .fa-graduation-cap {
  color: #ce4125;
}

.Small-nav-menu small {
  font-size: .625rem;
  padding-bottom: 1px;
  width: 100%;
}

.Small-nav-menu p {
  width: 100%;
}

.Small-nav-menu .sub-menu {
  border-radius: 3px;
  margin-bottom: 1.5rem;
}

.Small-nav-menu .sub-menu li {
  background-color: #262834;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  padding: 12px;
}

.Small-nav-menu .small-nav-bottom .small-nav-header2:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.Small-nav-menu .small-nav-bottom li {
  display: flex;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.Small-nav-menu .small-nav-bottom .sub-menu2 li {
  padding: 15px 20px;
  font-size: .875rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.Small-nav-menu .small-nav-bottom .sub-menu2 li a::before {
  content: "»";
}

.dark-overlay-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.dark-overlay-menu.active {
  display: block;
}

.dark-overlay-menu.active:hover {
  cursor: pointer;
}

.hamburger {
  display: block;
  background-color: #333645;
  padding: 10px 15px;
  border-radius: 3px;
  margin-left: 20px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px auto;
}

.hamburger:hover {
  cursor: pointer;
  background-color: #212330;
}
