//Variables

//background
$lighter-background:#dddddd;
$light-background:#323544;
$dark-background:#212330;

//text colors
$dark-text: #333645;

//font weight
$font-weight--light : 400;
$font-weight--bold  : 600;

//Service Colors
$bespoke:#67809f;
$bespokedark: #526781;
$it-support:#4183d7;
$it-supportdark:#286abd;
$digital-marketing:#2ecc71;
$digital-marketingdark:#25a25a;
$telecoms-services:#d64541;
$telecoms-servicesdark:#bc2c28;
$web-design:#926fb1;
$web-designdark:#79539a;
$cyber-security:#f62459;
$cyber-securitydark:#de093f;
$developer-course:#ce4125;
$developer-coursedark:#a3331d;

//welcometo button colors
$defaultbg:#272936;
$defaultbg-hover:#121318;
$googlereview:#4387f6;
$googlereview-hover:#166af4;
$trustpilot:#00b67b;
$trustpilot-hover:#009b69;

//header colors
$support-color:#4183d7;
$contact-color:#999aa2;

//breakpoints
$break-xsmall: 1px;
$break-small: 460px;
$break-medium: 767px;
$break-large: 991px;
$break-xlarge: 1260px;