
// Mix Ins


//social media icons
@mixin socialmedia-icons ($bimg,$bsize){
    height:56px;
    width:101px;
    margin: 5px;
    background-color: $dark-background;
    background-image: $bimg;
    background-repeat: no-repeat;
    background-size: $bsize;
    background-position: center;
}