
// Mix Ins


//social media icons
@mixin socialmedia-icons ($bimg,$bsize){
    height:56px;
    width:101px;
    margin: 5px;
    background-color: $dark-background;
    background-image: $bimg;
    background-repeat: no-repeat;
    background-size: $bsize;
    background-position: center;
}

//welcome to buttons
@mixin welcometo-button ($margin,$bgcolor,$bgcolor-hover){
    display:inline-block;
    white-space: nowrap;
    color: #fff;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 20px;
    border-radius: 6px;
    padding: 10px 30px;
    margin: $margin;
    text-align: center;
    background-color: $bgcolor;
    &:hover {
        background-color: $bgcolor-hover;
        cursor: pointer;
}
}

//read more button

@mixin read-more-button ($bcolor){
    display: inline-flex;
    color: #fff;
    background-color: $bcolor;
    border-color: $bcolor;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
 }

//media queries

@mixin mq($break) {
    @if $break == "x-small" {
        @media (min-width: $break-xsmall) and (max-width: $break-small) {
            @content;
    }
}
@else if $break == "small" {
    @media (min-width: $break-small) {
            @content;
    }
} 
@else if $break == "medium" {
    @media (min-width: $break-medium) {
            @content;
    }
}
@else if $break == "large" {
    @media (min-width: $break-large) {
            @content;
    }
}
@else if $break == "x-large" {
    @media (min-width: $break-xlarge) {
            @content;
    }
}
@else {
    @error "#{$break} isnt a valid media query size!!";
    }
}