
// Mix Ins


//social media icons
@mixin socialmedia-icons ($bimg,$bsize){
    height:56px;
    width:101px;
    margin: 5px;
    background-color: $dark-background;
    background-image: $bimg;
    background-repeat: no-repeat;
    background-size: $bsize;
    background-position: center;
}

//welcome to buttons
@mixin welcometo-button ($margin,$bgcolor,$bgcolor-hover){
    display:inline-block;
    white-space: nowrap;
    color: #fff;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 20px;
    border-radius: 6px;
    padding: 10px 30px;
    margin: $margin;
    text-align: center;
    background-color: $bgcolor;
    &:hover {
        background-color: $bgcolor-hover;
        cursor: pointer;
}
}