//header

.header-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @include mq(large){
        width: 991px;
    }
    @include mq(xlarge){
        width: 1270px;
    }
}

.header-row {
    display: inline-flex;
    justify-content: center;
    align-items:center;
    padding: 10px 40px;
    margin-bottom: 5px;
}

.header-logo {
    padding: 5px;
}

.phone-icon {
    padding: 5px;
    @include mq(medium) {
        display: none;
    }
}

.Ham-icon {
    padding: 5px;
}



.search-container {
    display: inline-flex;
    justify-content: center;
    input {
        width: 100%;
    }
    @include mq(medium) {
        display: none;
    }
}

.search-container2 {
    input {
        width: 100%;
    }
    @media (max-width: $break-medium) {
        display: none;
    }
}

.contact-button {
    @media (max-width: $break-large) {
        display: none;
    }
}

.support-button {
    @media (max-width: $break-large) {
        display: none;
    }
}

//hide this at 991 until 1260
// .search-bar2 {
//     @media(max-width: $break-large) {
//         display: none;
//     }
// }
