//Latest News

.container-latestnews {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-news-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:30px 10px;
}

.card-image-container {
    display: flex;
}


.container-card-core {
    padding: 30px;
}

.container-card-footer {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    padding: 30px;
    align-items:center;
}

.card-logo {
margin-right: 20px;
}

.read-more-article1 {
    margin: 20px 0px;
}

.read-more-article2 {
    margin: 20px 0px;
}

.read-more-article3 {
    margin: 20px 0px;
}

.viewall {
    width: 100%;
    text-align: center;
    margin: 30px 0px;
    @include mq(medium) {
        width: auto;
    }
}

#viewall2 {
margin-right: 20px;
@media (max-width: 768px) {
    display: none;
}
}

#viewall1 {
    @include mq(medium) {
    display: none;
}
}

#operations-support {
    @include mq(medium) {
        display: none;
    }
    @include mq(xlarge) {
       display: flex;
       align-items: center;
    }
}

.container-all-cards{
    @include mq(medium) {
        display: flex;
    } 
}

.container-ln-header {
    width: 100%;
   display: flex;
   justify-content: space-between;
}