//Navigation bar

.nav-bar {
    @media (max-width: 991px) {
        display: none;
    }
}

.nav-bar-main{
    display:flex;
}

.dropdown-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}



