//newsletter signup

.container-newslettersu {
    padding: 15px 15px;
    display: flex;
    align-items: center;
    @include mq(medium) {
        padding: 15px 30px;
    }
}

h5 {
    padding-bottom: 15px;
}

.required {
    padding-bottom: 5px;
}

.form-wrapper {
    margin: 15px 0px;
    display: flex;
    label {
        display: flex;
    }
}

.checkbox-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.news-subscribe {
margin-top: 20px;
}

.input-wrapper-sidebyside {
    display: flex;
    flex-direction: column;
@include mq(large){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    @include mq(large){
    width: 50%;
    margin-right: 30px;
}
}