//Welcome

.container-welcometo{
    padding:50px 0px;
}


h3 {
    margin-bottom: 40px;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    @include mq(large){
        flex-direction: row;
    } 
}

.welcometo {

            @include mq(large){
                padding-left: 15px;
                padding-right: 15px;
            width: 50%;
            }
    p {
        margin-bottom: 25px;
    }
}

.clientsthink {

        @include mq(large){
            padding-left: 15px;
            padding-right: 15px;
        width: 50%;
        }
    p {
        margin-bottom: 25px;
    }
}

.n-margin-top {
    margin-top: 25px;
}
