//Banner

.banner {
    position: relative;
    padding: 0;
    width: 100%;
    height: 550px;
    max-height: 550px;
}

.banner-slide {
    position: relative;
    height: 550px;
    max-height: 550px;
}

.banner-text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 1;
    text-align: center;
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 0 0 1.25rem;
        color:#fff;
        font-weight: $font-weight--bold;
        @include mq(large){
            font-size: 4rem;
            line-height: 5rem;
    } 
    }
        p {
        color:#fff;
        margin-bottom: 0.375rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: $font-weight--bold;
        margin: 0 0 10px;
        @include mq(large){
            font-size: 1.625rem;
            line-height: 2.5rem;
    } 
    }
    .banner-button-hp {
        @include banner-button($web-design,$web-designdark)
    }
    .banner-button-bs {
        @include banner-button($bespoke,$bespokedark)
    }
    .banner-button-it {
        @include banner-button($it-support,$it-supportdark)
    }
    .banner-button-dm {
        @include banner-button($digital-marketing,$digital-marketingdark)
    }
    .banner-button-tc {
        @include banner-button($telecoms-services,$telecoms-servicesdark)
    }
    .banner-button-wd {
        @include banner-button($web-design,$web-designdark)
    }
    .banner-button-cs {
        @include banner-button($cyber-security,$cyber-securitydark)
    }
}

.banner img {
    width: 100%;
    height: 550px;
    max-height: 550px;
}

.banner-slide img {
    filter: brightness(50%);
    object-fit: cover;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
  }

  .slick-dots li.slick-active button {
    opacity: 1;
  }

  // Tried centuring banner text but wont work
//   display: flex !important;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

