//Clients

.clients-carousel {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    padding: 50px 0;
    width: 100%; /* Adjust the width as needed */
    margin: auto;
    .slick-slide{
        margin-right: 50px;
        img {
        width: 100%; /* Ensure images fill the slide container */
        width: auto;
        // max-width: 175px;
        height: auto;
        // max-height: 70px; 
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
     }
    }
}



// .black-swan:hover .popup-container {
//     display: block;
// }

// .popup-container {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: none;
//     background-color: rgba(255, 255, 255, 0.9);
//     padding: 20px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//     max-width: 400px;
// }

// .popup-content {
//     display: none;
// }

// .black-swan:hover .popup-content {
//     display: block;
// }