//Clients

.clients {    
    img {
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
    }
}


.black-swan:hover {
    .black-swan-popup {
    display: block;
  }
}




.black-swan-popup {
    top: 0;
    background-color: aqua;
    z-index: 1;
    position: relative;
    display: none;
    // visibility: visible;
    height: 250px;
    width: 150px;
}