
//Footer

footer {
    background-color: $light-background;
    color:white;
    a:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

.netmatters-logo-white {
height: 51.250px;
width: 250px;
}

.fb-logo {
    @include socialmedia-icons (url("../images/main-netmatters/FBicon.png"), 14px);
}

.fb-logo:hover{
    background-color: #3b5998;
}

.in-logo {
    @include socialmedia-icons (url("../images/main-netmatters/linkinlogo.png"), 22px);
}

.in-logo:hover {
background-color: #0077b5;
}

.twitter-logo {
    @include socialmedia-icons (url("../images/main-netmatters/twittericon.png"), 24px);
}

.twitter-logo:hover {
    background-color: #00aced;
    }

.insta-logo {
    @include socialmedia-icons (url("../images/main-netmatters/instagramlogo.png"), 24px);
}

.insta-logo:hover {
    background-color: #d93175;
    }

h6 {
    text-transform: uppercase;
    font-size: 1rem;
}


.footer-ul {
   font-size: .8125rem;
   line-height: 1.375rem;
   li:last-child {
    padding-bottom: 30px;
   }
}

.footer-bottom {
background-color: $dark-background;
font-size: .8125rem;
line-height: 1.375rem;
padding: 15px 15px;
}