
//Footer

footer {
    color:white;
    a:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

.fb-logo {
    @include socialmedia-icons (url("../images/main-netmatters/FBicon.png"));
}

.fb-logo:hover{
    background-color: #3b5998;
}

.in-logo {
    @include socialmedia-icons (url("../images/main-netmatters/linkinlogo.png"));
}

.in-logo:hover {
background-color: #0077b5;
}

.twitter-logo {
    @include socialmedia-icons (url("../images/main-netmatters/twittericon.png"));
}

.twitter-logo:hover {
    background-color: #00aced;
    }

.insta-logo {
    @include socialmedia-icons (url("../images/main-netmatters/instagramlogo.png"));
}

.insta-logo:hover {
    background-color: #d93175;
    }

h6 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 26px;
}

.footer-main {
background-color: $light-background;
}

.footer-bottom {
background-color: $dark-background;

}