//header

.phone-icon {
    font-size: 32px;
}

.Ham-icon {
    font-size: 32px;
    margin-left: 10px;
}

.search-bar {
    background-color: rgba(0,0,0,.1);
    outline: 1px solid hsla(0,0%,100%,.2);
    border: 2px solid rgba(0,0,0,.1);
    width: 100%;
    height: 47px;
    padding: 5px 5px 5px 15px;
    display: inline-flex;
}

.search-button {
   font-size: 20px;
   :hover {
    cursor: pointer;
   }
}

.support-button {
     @include header-button (0px 15px 0px 0px, $it-support, $it-supportdark);
}

.contact-button {
    @include header-button (0px 15px 0px 0px, #999aa2, #7e808a);
}

.search-bar2 {
    display: inline-flex;
    outline: 1px solid hsla(0,0%,100%,.2);
    border: 2px solid rgba(0,0,0,.1);
    width: 100%;
    height: 58px;
    padding: 0px 0px 0px 15px;
}

.search-button2 {
    padding: 7px 20px;
    height: 56px;
    font-size: 1.063rem;
    border-radius: 0 3px 3px 0;
    border: none;
    background-color: #999aa2;
    color: #fff;
 }

 .search-button2{
    &:hover {
        background-color: #7e808a;
        cursor: pointer;
       }
 }