//Latest News

h4 {
    color: $dark-text;
    font-weight: $font-weight--bold;
    font-size: 2.25rem;
    margin-bottom: 28px;
}



.container-news-card {
    border: solid #ccc 1px;
    position: relative;
    top: 0;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
    &:hover {
        top: -10px;
        transition: .5s ease;
        cursor: pointer;
    }
}

.card-image {
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
}

.title-article1 {
    color:$web-design;
}

.title-article2 {
    color:$developer-course;
}

.title-article3 {
    color:$web-design;
}

.para-article {
    color:#666;
    line-height: 1.375rem;
    font-size: .8125rem;
}

.read-more-article1 {
    @include read-more-button ($web-design);
}

.read-more-article2 {
    @include read-more-button ($developer-course);
}

.read-more-article3 {
    @include read-more-button ($web-design);
}

.container-card-footer {
    border-top: solid #ccc 1px;
}

.postedby {
    color:$dark-text;
    line-height: 1.375rem;
    font-size: .875rem;

}

.date-posted {
    color:#666;
    line-height: 1.375rem;
    font-size: .875rem;
}

.viewall {
    color: $dark-text;
    font-weight: $font-weight--bold;
    font-size: 1.625rem;
}