//Navigation bar

.nav-bar {
  background-color: $light-background;
}


.nav-bar-main {
color: white;
text-align: center;
span {
  font-size: 1.438rem;
    display: block;
    padding-bottom: 10px;
}

small {
  display: block;
  font-size: .625rem;
  padding-bottom: 1px;
}
}


.bs-nav {
  @include navigation ($bespoke, $bespokedark);
    span:first-child {
      color: $bespoke;
    }
}

.it-nav {
  @include navigation ($it-support, $it-supportdark);
}

.dm-nav {
  @include navigation ($digital-marketing, $digital-marketingdark);
}

.ts-nav {
  @include navigation ($telecoms-services, $telecoms-servicesdark);
}

.wd-nav {
  @include navigation ($web-design, $web-designdark);
}

.cs-nav {
  @include navigation ($cyber-security, $cyber-securitydark);
}

.dc-nav {
  @include navigation ($developer-course, $developer-coursedark);
}

.dropdown-link {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.313rem;
    padding: 0.625rem 0.938rem 0.625rem 0;
    display: flex;
    align-items: center;
    width: 33% ;
    margin-top: 15px;
    a:hover{
      text-decoration: underline;
    }
  }

