//Navigation bar

//the item in nav bar
.bespoke-nav {
    background-color: #04AA6D;
    &:hover {
      background-color: $bespoke;
      .dropdown {
        display: block;
    }
  }
    

    .dropdown {
      width: 100%;
      height: 400px;
      position: absolute;
      left:0;
      background-color: $bespoke;
      z-index: 1;
      display:none;
    
    .dropdown-container {
      margin-left: auto;
      margin-right: auto;
      width: 1200px;
      h2 {
        width: 100%;
      }
    }
  }
}





.dropdown-link {
    color :white
  }

