
//Newsletter sign up

// .container-newslettersu {
//     background-color: $lighter-background;
// }

h5 {
    color: $dark-text;
    font-size: 2rem;
    line-height: 1.1;
}

label {
    color:$dark-text;
    line-height:32px;
    font-weight: $font-weight--bold;
}

.required::after {
    content:"*";
    color: #d24d57;
}

.form-news {
    width: 100%;
    border: 1px solid #ccc;
    padding:5px 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6)
    }
}

//checkbox inputs

.checkbox-input {
    display:none;
}

.checkbox-box {
    border-radius: 3px;
    border: 3px solid #333645;
    height: 32px;
    width: 32px;
    margin-right: 20px;
}

.checkbox-box::after {
    content: "\2713";
    color: #ddd;
}

.checkbox-input:checked + .checkbox-box {
background:#333645;
}

.label-check:hover {
    cursor: pointer;
    }

.privacy-policy {
    text-decoration: underline;
    &:hover {
        color: #12272c;
    }
}

.news-subscribe {
color:#fff;
height: auto;
line-height: 35px;
padding: 5px 15px;
text-transform: uppercase;
font-size: 1.063rem;
border-radius: 3px;
white-space: normal;
background-color: $dark-text;
    &:hover {
    background-color: #22242e;
    cursor: pointer;
}
}
