//partners

.partners-carousel {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    padding: 50px 0;
    width: 100%; /* Adjust the width as needed */
    margin: auto;
    .slick-slide{
        margin-right: 50px;
        img {
        width: 100%; /* Ensure images fill the slide container */
        width: auto;
        // max-width: 175px;
        height: auto;
        // max-height: 70px; 
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
     }
    }
}

