//Welcome
.container-welcometo-keepbg {
    background-color: $light-background;
    color:#fff;
}

h3 {
    font-size: 2.25rem;
    font-weight: $font-weight--bold;
    line-height: 1.1;
}

strong {
    font-weight: $font-weight--bold;
    a:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

.whychooseus-button {
    @include welcometo-button (0px 5px 17px 0px, $defaultbg, $defaultbg-hover);
}

.ourculture-button {
    @include welcometo-button (0px auto 50px, $defaultbg, $defaultbg-hover);
}

.rating {
    font-size:40px;
    margin-bottom: 25px;
    i {
        color: #ffa500;
    }
}

.quote {
    font-style: italic;
    font-size: 1.3rem;
    font-weight: $font-weight--bold;
}

.quote-author {
    color: #a3a8ac;
    font-size: 1.1rem;
    font-weight:$font-weight--bold;
}

.quote-company {
    color: #fff;
}

.googlereviews-button {
    @include welcometo-button (0px 5px 17px auto, $googlereview, $googlereview-hover);
}

.trustpilot-button {
    @include welcometo-button (0px auto auto, $trustpilot, $trustpilot-hover);
}